{"plugins": [
  [
    "babel-plugin-root-import",
    {
      "paths": [
        {
          "rootPathSuffix": "./src/components",
          "rootPathPrefix": "~/"
        },
        {
          "rootPathSuffix": "./src/utils",
          "rootPathPrefix": "!/"
        }
      ]
    }
  ]
]}